name: Main Branch Push & PR

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tag-latest:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Tag current commit as latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag -f latest
          git push origin --force latest

  purge:
    runs-on: ubuntu-latest
    steps:
      # Purge specific jsDelivr URLs
      - name: Purge jsDelivr cache
        uses: gacts/purge-jsdelivr-cache@v1
        with:
          url: |
            https://cdn.jsdelivr.net/gh/solution8-com/s8-utilities@latest/broenbotjs/chat.bundle.es.js
